<h2>About Super Rentals</h2>

<p>
  The Super Rentals website was created to explore the wonderful world of Emby.js.  This prject allows us to imagine trabeling the world while simultaneously traversing the pathways of the Ember framework!
</p>


{{#link-to 'contacts'}}Click here to contact us.{{/link-to}}

{{#link-to 'index'}}Back to index{{/link-to}}
